.container{
    background-color: #145785;
    margin:10px 185px;
    padding:10px;
    border-radius:20px;
 }
 
 
 label{
    font-weight:bold;
    display: red;
    margin:20px;
 }
 input{
    border-radius: 30px;
 }
    body{
        background-color: #f2f2f2;
        https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.higher-education-marketing.com%2Fblog%2F10-things-you-should-look-for-in-a-student-information-system&psig=AOvVaw3bgqA9YkLgT8BOAIBIAyts&ust=1720514945108000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCMid-uOHl4cDFQAAAAAdAAAAABAE
        display: blick;
        text-align: center;
    }
    button{
        margin: 30px;
        background-color: #252502;
    }
 
 
